/* =============================

    GENERAL STYLES

=============================*/

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* border-box modell beállítása */
* {
  box-sizing: border-box;
}



/* egyirányú margin deklarációval vertikális ritmus az oldalon */
h1,h2,h3,
ul,ol,
p,
img {
    margin-bottom: 1.5rem;
}


/* oldal hátterének beillesztése és alap szövegformázás */
body {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-background.png') repeat center;
  font-family: 'Libre Baskerville', serif;
  font-size: 1.125rem;
  line-height: 1.5;
  color: #444349;
}


/* a gyakori box model tulajdonságok definiálása (padding, margin) a nagyobb konténereken (a section elemeken) */
.locations,
.program,
.gifts,
.gyik,
.contact {
  width: 95%; /* így nem fog hozzáérni a szöveg a képernyő széléhez */
  margin: 1.5rem auto;
  padding: .5rem 1rem;
  text-align: center;
}


/* külső betűkészlet linkelése és alap tipográfiai stílusok megadása */
h1,
h2 {
  font-family: 'Great Vibes', cursive;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.5rem;
}

a {
  text-decoration: none; /* aláhúzás eltűntetése */
  color: #bd806e;
}

a:hover {
  color: #eda087;
  transition: color .15s ease-in-out; /* áttűnés beállítása az egérrel való rámutatásnál */
}

/* =============================

    HEADER STYLES

=============================*/

.fejlecboritoja {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat 70% /* mozgatás az x-tengely mentén, hogy a menyasszony feje ne lógjon ki */ center/cover;
  display: table;
  text-align: center;
  height: 100vh;
  width: 100vw;
}



/* fejléc szövegének középre igazítása vertikálisan */
.elsoszovegdoboz {
  display: table-cell;
  vertical-align: middle;
}


/* fejléc szövegének formázása */
.cimszoveg {
  margin: 0 auto;
  padding: .625rem;
  color: hsla(0,0%,100%,.9);
  background: hsla(100,0%,0%,.5);
}


.cimszoveg1sor {
  font-size: 1.25rem;
  letter-spacing: .15rem;
}

/* vízszintes vonal a szöveg alá */
.cimszoveg1sor::after {
  display: block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 12.515625rem;
  margin: .5rem auto;
}

.cimszoveg2sor {
  font-size: 3.15rem;
  color: #d2ba87;
  margin-bottom: 0;
}

.datum {
  font-size: 1.25rem;
  letter-spacing: .15rem;
  vertical-align: middle;
}

/* vízszintes vonal a szöveg elé ás után */
.datum::before,
.datum::after {
  display: inline-block;
  content: "";
  background-color: #fff;
  height: 1px;
  width: 1.5rem;
  vertical-align: middle;
  margin: 0 .5rem;
}


/* =============================

    LOCATIONS-SECTION STYLES

=============================*/

.kocka img {
  height: 7.5rem;
}

.kocka h3 {
  font-weight: 700;
}

.kocka div {
  font-family: 'Muli', sans-serif;
}

.kocka::after {
  content: "";
  display: block;
  height: .1875rem;
  width: 25vw;
  margin: 1.5rem auto;
  background-color: #444349;
}


/* =============================

        PROGRAM-SECTION STYLES

=============================*/

.program {
  width: 100vw; /* felülírja a 95%-os szélességet az általános stílusokból. Így ér majd a section "faltól falig" */
  text-align: left;
  background: hsla(100,0%,0%,.6);
  color: #d2ba87;
  font-family: 'Muli', sans-serif;
}

.program h2 {
  font-family: 'Great Vibes', cursive;
  margin-top: 1rem;
  text-align: center;
}

.program p {
  font-style: italic;
}

.program ul {
  letter-spacing: .025rem;
}


/* =============================

        GIFTS-SECTION STYLES

=============================*/

.gifts img {
  height: 7.5rem;
}

.gifts p:last-child {   /* extra bottom-margin eltűntetése: a vertikális ritmus meghatározásakor mind a p, mind a section elemeknek adtunk 1.5rem-nyi alsó margót és ezek egymásra rakódnának, így valamelyiket törölni kell */
  margin-bottom: 0;
}


/* =============================

        GYIK-SECTION STYLES

=============================*/

.gyik {
 background: hsla(100,0%,0%,.6);
  color: #d2ba87;
  width: 100vw;
  text-align: center;
}

.gyik h2 {
  margin-top: 1rem; /* felső és alsó margók kiegyenlítése */
}

.gyik p {
  font-family: 'Muli', sans-serif;
  text-align: left;
}

.question-group::after {
  content: ""; /* pszeudo elem az elválasztó vonal létrehozására */
  display: block;
  height: .1875rem;
  width: 50vw;
  margin: 1.5rem auto;
  background-color: #d2ba87;
}

.question { /* szöveg tagolása miatt - összehúzza az összetartozó részeket */
  font-weight: 700;
  margin-bottom: .5rem;
}

.answer { /* szöveg tagolása miatt - eltávolítja a különálló részeket */
  margin-bottom: 1.5rem;
}


/* =============================

        FOOTER STYLES

=============================*/

footer {
  height: 10vh;
  width: 100vw;
  background-color: #606060;
  color: #fff;
  font-family: 'Muli', sans-serif;
  display: table;
  text-align: center;
  font-size: .875rem;
}

.footer-wrapper {
  display: table-cell;
  vertical-align: middle;
  padding: .5rem 1rem;
}

footer p {
  margin-bottom: 0; /* középre igazítás */
}

footer small {
  line-height: 1.5; /* középre igazítás */
}


/* =============================

        TABLET AND DESKTOP STYLES

=============================*/

@media (min-width: 768px) {

.fejlecboritoja {
  background: url('https://orange.codeberryschool.com/content/images/project-assets/wedding-landing-cover.jpg') no-repeat center/cover; /* újra be kell illeszteni a hátteret, de az ismétlődés kikapcsolásával */
  }

.cimszoveg {
  padding: 1.25rem;
  border-radius: 4px;
  width: 50%; /* az áttetsző szürke doboz zsugorodik nagyobb képernyőn */
  }

.cimszoveg1sor {
  text-transform: uppercase; /* nagy képernyőn csopa nagybetűs */
  }

.cimszoveg2sor {
  font-size: 7rem;
  }


/* LOCATION-SECTION-STYLE */

.kocka {
    display: inline-block; /* dobozok egymás mellé rendezése nagyobb képernyőn */
    width: 30%;
    padding: 1.5rem;
    margin: .5rem;
  }

.kocka::after {
    display: none; /* elválasztó vonalak eltűntetése nagyobb képernyőn */
  }


/* PROGRAM-SECTION-STYLE */

.program-wrapper {
    width: 30vw;
    margin: 0 auto; /* középre rendezés nagyobb képernyőn */
  }

  /* GYIK-SECTION-STYLES */

.question-group {
    display: inline-block;
    width: 30%;
    vertical-align: top; /* oszlopok egymáshoz igazítása */
    padding: 1.5rem;
    margin: .5rem;
  }

.question-group::after {
    display: none;
  }

.question-group h3 {
    text-align: left;
  }
  
  /* FOOTER-STYLE */
footer {
    min-height: 7vh; /* átméretezés */
  }
}
